* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 100%;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 90px);
    background-image: url(/assets/Body_BG.png);
    background-size: contain;
    overflow-y: auto;
    padding: 16px 24px;
}

.incoming-message {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 2.5%;
    width: fit-content;
    max-width: 65.625%;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
}

span {
    color: gray;
    font-size: 1rem;
}

p {
    margin: 1.75% 0;
    font-size: 1.1rem;
}

.outgoing-message {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    flex-shrink: 0;
    width: fit-content;
    max-width: 65.625%;
    background-color: #ffffcc;
    padding: 2.5% 2.5% 1.25% 2.5%;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
}

.lower {
    display: flex;
    width: 100%;
    height: 90px;
    padding: 1.194539249% 3.75%;
    background-color: #00abff;
    box-sizing: border-box;
}

.lower-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

input {
    width: 85.144124169%;
    height: 100%;
    margin: 0 1.33037694% 0 0;
    padding-left: 1.25%;
    border: 2px solid #006bff;
    outline: none;
    border-radius: 5px;
    font-size: 1.3rem;
}

button {
    width: 13.636363636%;
    height: 100%;
    background: #ff7676;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
}

.size-8 {
    height: 8px;
}

.size-16 {
    height: 16px;
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {

    .wrapper {
        width: 100%;
        height: 100%;
    }

    .outgoing-message {
        padding: 16px 0 8px 16px;
    }

    .outgoing-message p {
        padding-right: 16px;
    }

    .outgoing-message span {
        padding-right: 8px;
    }

    .lower {
        padding: 8px;
    }

    input {
        padding-left: 8px;
        margin-right: 8px;
    }
}

@media only screen and (max-width: 599px) {
    .wrapper {
        width: 100%;
        height: 100%;
    }

    .incoming-message {
        padding: 1.25%;
    }

    .outgoing-message {
        padding: 2.5% 2.5% 1.25% 2.5%;
    }

    p {
        font-size: 3vw;
    }

    button, input {
        font-size: 4vw;
    }

    span {
        font-size: 2.5vw;
    }
}